<div class="jumbotron vertical-center">
  <div class="container">
    <%= form_tag  @password, method: :put do %>
      <h2>Password</h2>
      <%= password_field_tag :password, @password%>
      <%= submit_tag "Submit", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>